{% extends "template.html" %}
{% block content %}
<body>

    <script src = "https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <div class="container">
        <h1>Dashboard</h1>
            <table id="allegiances_table">
                <tr>
                    <th>Name</th>
                    <th>Affiliation</th>
                    <th>Allegiance</th>
                </tr>
            </table>
        </div>
                
        <script>
            $(document).ready(function(){
                $.getJSON("/allegiances",function(data){

                    data.forEach(element => {
                        table = document.getElementById("allegiances_table");
                        newrow = document.createElement("tr");
                        table.appendChild(newrow);

                        nombre = document.createElement("td");
                        nombre.innerHTML = element["Name"];
                        newrow.appendChild(nombre)

                        affiliation = document.createElement("td");
                        affiliation.innerHTML = element["Affiliation"];
                        newrow.appendChild(affiliation)

                        allegiance = document.createElement("td");
                        allegiance.innerHTML = element["Allegiance"];
                        newrow.appendChild(allegiance)
                        
                    });
                });
            });
        </script>
</body>
{% endblock %}
